<h2>Edit Historical Figure</h2>

<form method="post" action="/figures/<%=@figure.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <h3>Name <input type="text" name="figure[name]" id="figure_name" value="<%=@figure.name %>"/></h3>
    <br>
    <h3>Titles</h3>
    <%Title.all.each do |t| %>
        <input type="checkbox" name="figure[title_ids][]" id="title_<%=t.id%>" value="<%=t.id%>" <%='checked' if @figure.titles.include?(t) %>/><%=t.name%><br>
    <%end%>
    <h4>Create New Title</h4>
    <br>
    <input type="text" name="title[name]" id="new_title"/>
    <br>
    <h3>Landmarks</h3>
    <%Landmark.all.each do |t| %>
        <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=t.id%>" value="<%=t.id%>" <%='checked' if @figure.landmarks.include?(t) %>/><%=t.name%><br>
    <%end%>
    <h4>Create New Landmark</h4>
    <br>
    <p>Name: <input type="text" name="landmark[name]" id="new_landmark" /></p>
    <br>
    <input type="submit" value="Edit Figure" />
</form>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>